@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'meladu rose';
  src: url('./assets/fonts/meladu_rose.otf');
}

@font-face {
  font-family: 'urbanist';
  src: url('./assets/fonts/urbanist.ttf');
}